

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="Content/Styles/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="Content/Styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Content/Styles/bootstrap-theme.css.map" />
    <link rel="stylesheet" type="text/css" href="Content/Styles/Site.css" />
    <title>Rehber- Login  </title>    
    

</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <h1>Calisan Rehberi</h1>
            </div>
        </header>
        @RenderBody()

       
        

    </div>
    <br />
     <div class="panel-footer"> Developed by Dren Mullafetahu 2015 </div>
</body>
</html>
