<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap-theme.css.map" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Site.css" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Rehber- Login  </title>    
    

</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <h1>AdminUI</h1>
            </div>
        </header>
        @RenderBody()
        <div class="panel-footer">Sirket Adi All rights reserved to SirketAdi © 2015 | Developed by Dren Mullafetahu </div>
    </div>
</body>
</html>
